*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a {
    text-decoration: none;
}
body
{
    background-color: #7287ae;
}
.main {
    margin-top: 100px;
}
.main .main_text{
    display: flex;
    align-items: center;
    
}

.main .maintext .big h1{
    display: flex;
    font-size: 60px;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: -30px;
}

.main .maintext .small h1{
    display: flex;
    font-size: 20px;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-weight: 400;

}

.back2 img{
    display: flex;
    justify-content: center;
    width: 101%;
    height: 100%;
    margin-left: -10px;
    z-index: -1;
    
}

.popularmenutext{
    display: flex;
    justify-content: center;
    margin-top: -80%;
    font-weight: 500;
    font-size: 50px;
    color: #7287ae;
    z-index: 1;
}

.tovari{
    margin-top: 10%;
    display: flex;
    z-index: 1;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    border: 1px solid black;
}

.tovari .t1{
    border: 3px solid black;
}
.tovari .t2{
    border: 3px solid black;
}
.tovari .t3{
    border: 3px solid black;
}


.tovari img
{
    width: 250px;
    height: 250px;
}

.tovari span{
    font-size: 30px;
    color: rgb(30, 30, 30);
}

.more_button{
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.more_button button{
    background-color: #7287ae;
    color: rgb(255, 255, 255);
    letter-spacing: 4px;
    font-weight: 500;
    border: none;
    padding: 10px;
    width: 240px;
    height: 50px;
    font-size: 20px;
    border-radius: 30px;
}

.container {
    width: 80%;
    margin: 20px auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .left {
    display: flex;
    align-items: center;
}
header .left .logo img {
    height: 80px;
}
header .right {
    display: flex;
}
header .right .link{
    margin-left: 60px;
}
header .right .link a {
    font-size: 18px;
    color: white;
    font-weight: 500;
    transition: all .3s;
}
header .right .link a:hover {
    color: rgb(216, 216, 216);
    cursor: pointer;
}